__pycache__/
.venv/
*.pyc
*.log
*.db # If you don't want to track the database file content
.hypothesis/unicode_data/13.0.0/charmap.json.gz
searcher.duckdb
*.db
*.sqlite
config.toml
*.duckdb
tmp
log.conf
.hypothesis
venv/
/.vscode
/*.csv
/*.parquet
.DS_Store
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
coverage.xml
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
/*.csv.gz
/*.csv
/*.gff3.gz
